/* Chessboard.css */
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: auto;
    margin-top: 10px;
    width: 680px;
    border: 2px solid #a26a3f;
    padding: 0;
    list-style-type: none;
  }

  .chessboard li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  font-size: 4rem;
  }

.white{
    color: #000000;
    cursor: pointer;
  }

  .black{
    color: #ffffff;
    cursor: pointer;
  }

  .red{
    color: red;
  }
  
  .chessboard li.dark {
    background-color: #744e29; 
  }
  
  .chessboard li.light {
    background-color: #fbefca;
  }

  .left-div, .right-div{
    border: 3px solid #44cf00;
    width: 300px;
    height: 600px;
  }

  p{
    color: white;
    text-align: justify;
    padding: 10px;
  }

  button{
    background-color: #44cf00;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  button:hover{
    transform: scale(1.1);
  }
  
  